
		<div class="CajaInicio animated bounceInRight">

			<form id="FormIngreso" name="FormIngreso" enctype="multipart/form-data" style="background-image:url(img/marco.png);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;" novalidate>

				<center><h2 style="color:black">Datos Pedido</h2></center><br><br>

				<div ng-hide="mostrarEstado">
				<span>Sucursal:</span><br>
				<select name="suc" ng-model="pedido.idSucursal" required>
					<option value="">Seleccione la sucursal..</option>
				  	<option ng-repeat="s in ListadoSucursales" value={{s.idSucursal}} ng-if="UsuarioLogueado.perfil=='empleado' && s.idSucursal==UsuarioLogueado.idSucursal || UsuarioLogueado.perfil=='cliente' || UsuarioLogueado.perfil=='administrador' || UsuarioLogueado.perfil=='encargado' && s.idSucursal==UsuarioLogueado.idSucursal ">{{s.direccion}}</option>
				</select>
				<span style="color:red" ng-show="FormIngreso.suc.$invalid">*</span>

				<br><br>

				<span>Producto:</span><br>
				<select name="producto" ng-model="pedido.idProducto" required ng-disabled="pedido.idOferta">
					<option value="">Seleccione el producto..</option>
				  	<option ng-repeat="p in ListadoProductos" value="{{p.idProducto}}" ng-if="p.idSucursal==pedido.idSucursal">{{p.descripcion}}</option>
				</select>
				<span style="color:red" ng-show="FormIngreso.producto.$invalid">*</span>

				<br><br>

				<span>Oferta:</span><br>
				<select name="oferta" ng-model="pedido.idOferta" required ng-disabled="pedido.idProducto">
					<option value="">Seleccione la oferta..</option>
				  	<option ng-repeat="p in ListadoOfertas" value="{{p.idOferta}}" ng-if="p.idSucursal==pedido.idSucursal">{{p.descripcion}}</option>
				</select>
				<span style="color:red" ng-show="FormIngreso.oferta.$invalid">*</span>

				<br><br>

				<span>Cantidad:</span><br>
				<input style="color:black" type="number" name="cantidad" ng-model="pedido.cantidad" placeholder="Ingrese la cantidad" required /> 
				<span style="color:red" ng-show="FormIngreso.cantidad.$invalid">*</span>

				<br/><br/>

				<span>Nombre del cliente:</span><br>
				<input style="color:black" type="text" name="nombre" ng-model="pedido.clienteNombre" placeholder="Ingrese el nombre del cliente" required /> 
				<span style="color:red" ng-show="FormIngreso.nombre.$invalid">*</span>

				<br/><br/>

				<span>Fecha de entrega:</span><br>
				<input style="color:black" type="date" name="fechaFin" ng-model="reserva.fechaFin" min="{{reserva.fechaMin | date:'yyyy-MM-dd'}}" max="{{reserva.fechaMax | date:'yyyy-MM-dd'}}" required /> 
				<span style="color:red" ng-show="FormIngreso.fechaFin.$invalid">*</span><br/>
				<span style="color:red" ng-show="FormIngreso.fechaFin.$invalid">LAS RESERVAS SE GENERAN CON NO MENOS DE 2 DIAS DE ANTICIPACION Y NO MAXIMO DE 5 DIAS</span>

				<br>
				</div>
				
				<div ng-show="mostrarEstado">
					<span>Estado del pedido:</span><br>
					<select name="estado" ng-model="pedido.estado" required>
						<option value="">Seleccione el estado del pedido..</option>
					  	<option value="procesando">En proceso</option>
					  	<option value="cancelado">Cancelado</option>
					  	<option value="finalizado">Finalizado</option>
					</select>
					<span style="color:red" ng-show="FormIngreso.estado.$invalid">*</span>
				</div>

				<br><br><br>

				<a class="btn btn-info"  ng-disabled="FormIngreso.$invalid" name="guardar" ng-click="Guardar()"><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a><br>
				<span style="color:red" ng-show="FormIngreso.$invalid">FALTAN DATOS!!</span>
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />

			</form>
	</div>
	
