

		<div class="CajaInicio animated bounceInRight">
							<h1>Listado de Sucursales</h1>
							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listadoSucursales">
									<thead>
										<tr>
											<th>  FOTO 1  </th>
											<th>  FOTO 2  </th>
											<th>  FOTO 3  </th>
											<th>  DIRECCION   </th>
											<th>  TELEFONO     </th>

											<th>  BORRAR     </th>
											<th>  MODIFICAR  </th>
										</tr> 
									</thead>

									<!--{{listadoDeDatos}} -->
									
									<tr ng-repeat="sucursal in ListadoSucursales">

										<td><img  class='fotoGrilla' ng-src="fotosSuc/{{sucursal.foto1}}" /></td>
										<td><img  class='fotoGrilla' ng-src="fotosSuc/{{sucursal.foto2}}" /></td>
										<td><img  class='fotoGrilla' ng-src="fotosSuc/{{sucursal.foto3}}" /></td>
							
										<td>{{sucursal.direccion}}</td>
										<td>{{sucursal.telefono}}</td>

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(sucursal)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar'  ng-click="Modificar(sucursal)" ><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>
									
								</table>
		</div>

