
 <div>
              <ul class="nav nav-tabs">
		         <li  class="btn btn-success animated bounceInLeft">
		         	<a ui-sref="inicio" style="color:yellow">
		         		 <span class="glyphicon glyphicon-home">&nbsp;</span>
		         		 Inicio 
		         	</a>
		         </li>
		         <li  class="btn btn-success animated bounceInLeft">
		         	<a ui-sref="persona.menu" style="color:yellow">
		         		 <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
		         		 Menu 
		         	</a>
		         </li>
		         <li  class="btn btn-success animated bounceInLeft" >
		         	<a ng-click="Logout()" style="color:yellow"> 
		         		<span class="glyphicon glyphicon-remove" >&nbsp;</span>
		         			Logout</a>
		         		</li>
		        	<span style="color:white" id="tituloBarra"  class="animated bounceInRight"><img  class='fotoGrilla' ng-src="fotos/{{UsuarioLogueado.foto}}" /> {{UsuarioLogueado.nombre}} - {{UsuarioLogueado.perfil}} </span>

     		 </ul>

     		 <div ui-view name="contenido">
     		 </div>
     </div>
