

		<div class="CajaInicio animated bounceInRight">
							<h1>Listado de Usuarios</h1>
							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listaPersonas">
									<thead>
										<tr>
											<th>  PEDIDO   </th>
											<th>  CANTIDAD  </th>	
											<th>  ESTADO    </th>
											<th>  TOTAL     </th>
											<th>  SUCURSAL  </th>
										</tr> 
									</thead>

									<!--{{listadoDeDatos}} -->
									
									<tr ng-repeat="pedido in ListadoPedidos" ng-if="pedido.idPersona==UsuarioLogueado.id">

										<td ng-if="pedido.productoDescripcion">{{pedido.productoDescripcion}}</td>
										<td ng-if="pedido.ofertaDescripcion">{{pedido.ofertaDescripcion}}</td>
										<td>{{pedido.cantidad}}</td>
										<td>{{pedido.estado}}</td>
										<td>{{pedido.total}}</td>
										<td>{{pedido.sucursalDireccion}}</td>
															
									</tr>
									
								</table>


		</div>

