

		<div class="page-header">
			<center><h1>ABM</h1> </center>     
		</div>
	  	 
		           
					<div class="CajaInicio animated bounceInRight">
						
							<form id="FormIngreso" style="background-image:url(img/menu.jpg);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;">
 										
									    <button ng-click="IrAltaUsuario()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">ALTA USUARIO</h4>
									    </button>

									    <button ng-click="IrGrillaUsuario()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">GRILLA USUARIOS</h4>
									    </button>	

										<button ng-click="IrAltaProducto()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">ALTA PRODUCTO</h4>
									    </button>

										<button ng-click="IrGrillaProducto()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">GRILLA PRODUCTOS</h4>
									    </button>	

										<button ng-click="IrAltaOferta()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">AGREGAR OFERTA</h4>
									    </button>

										<button ng-click="IrGrillaOferta()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">GRILLA OFERTAS</h4>
									    </button>

										<button ng-click="IrAltaPedido()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">AGREGAR PEDIDO</h4>
									    </button>

										<button ng-click="IrGrillaPedido()" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">GRILLA PEDIDOS</h4>
									    </button>
									
							</form>
						</div>
	
	