

		<div class="CajaInicio animated bounceInRight">
							<h1>Listado de Usuarios</h1>
							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listaPersonas">
									<thead>
										<tr>
											<th>  FOTO   </th>
											<th>  NOMBRE  </th>	
											<th>  PERFIL  </th>
											<th>  ESTADO	</th>

											<th>  BORRAR     </th>
											<th>  MODIFICAR  </th>
											<th>  DETALLE </th>
										</tr> 
									</thead>

									<!--{{listadoDeDatos}} -->
									
									<tr ng-repeat="persona in ListadoPersonas" ng-hide="UsuarioLogueado.perfil=='encargado' && persona.perfil=='administrador' || UsuarioLogueado.perfil=='encargado' && persona.perfil=='encargado' ||
									UsuarioLogueado.perfil=='empleado' && persona.perfil=='administrador' || UsuarioLogueado.perfil=='empleado' && persona.perfil=='encargado' || UsuarioLogueado.perfil=='empleado' && persona.perfil=='empleado' || UsuarioLogueado.perfil=='empleado' && persona.idSucursal!=UsuarioLogueado.idSucursal || UsuarioLogueado.perfil=='encargado' && persona.idSucursal!=UsuarioLogueado.idSucursal">

										<td><img  class='fotoGrilla' ng-src="fotos/{{persona.foto}}" /></td>
							
										<td>{{persona.nombre}}</td>
										<td>{{persona.perfil}}</td>
										<td>{{persona.estado}}</td>

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(persona)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar'  ng-click="Modificar(persona)" ><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>

										<td><button class='btn btn-info' name='Informar'  ng-click="Informar(persona)" ><span class='glyphicon glyphicon-list-alt'>&nbsp;</span>Info</button></td>
															
									</tr>
									
								</table>
		</div>

