<div>
	<br><br><center>
		<form id="FormIngreso" style="background-image:url(img/marco.png);background-position: center;background-size: 100% 100%;background-repeat: no-repeat; width: 55%; color:black" >

				<td><img  class='fotoGrilla' ng-src="fotos/{{usuario.foto}}" style="width:200px; height:200px " /></td>

				<br><br>

				<p>Nombre:    {{usuario.nombre}}</p> 
				<p>Dni:    {{usuario.dni}}</p> 
				<p>Perfil:     {{usuario.perfil}}</p>
				<p>Estado:		{{usuario.estado}}</p>
				<p>Email:    {{usuario.email}}</p>
				<p>Direccion:    {{usuario.direccion}}</p>
				<p ng-if="usuario.sucursalDir">Sucursal:     {{usuario.sucursalDir}}</p>
				<p ng-if="usuario.sucursalTel">Telefono Suc.:     {{usuario.sucursalTel}}</p>

		</form>

	</center>
</div>
<br><br>
				<ul class="nav nav-tabs">
					<li  class="btn btn-success animated bounceInLeft" >
			         	<a ui-sref="persona.grilla" style="color:yellow">
			         		 <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>
			         		 Volver 
			         	</a>
			        </li>
			    </ul>