

		<div class="CajaInicio animated bounceInRight">
							<h1>Listado de Ofertas</h1>
							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listaProductos">
									<thead>
										<tr>
											<th>  FOTO   </th>
											<th>  DESCRIPCION   </th>
											<th>  PRECIO     </th>

											<th>  BORRAR     </th>
											<th>  MODIFICAR  </th>
										</tr> 
									</thead>

									<!--{{listadoDeDatos}} -->
									
									<tr ng-repeat="oferta in ListadoOfertas">

										<td><img  class='fotoGrilla' ng-src="fotosOfer/{{oferta.foto}}" /></td>
							
										<td>{{oferta.descripcion}}</td>
										<td>{{oferta.precio}}</td>

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(oferta)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar'  ng-click="Modificar(oferta)" ><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>
									
								</table>
		</div>

