<div>
	<br><br><center>
		<form>
				<br><br><br>
				<p ng-if="pedido.productoDescripcion">Producto: {{pedido.productoDescripcion}}</p>
				<p ng-if="pedido.ofertaDescripcion">Oferta:	{{pedido.ofertaDescripcion}}</p>
				<p>Cantidad:    {{pedido.cantidad}}</p> 
				<p>Nombre del cliente:    {{pedido.clienteNombre}}</p> 
				<p ng-if="pedido.sucursalDir">Sucursal:     {{pedido.sucursalDir}}</p>
				<p ng-if="pedido.sucursalTel">Telefono:     {{pedido.sucursalTel}}</p>



		</form>
	</center>
</div>