<div>
	<br><br><center>
		<form>

				<p>Producto:    {{pedido.producto}}</p>
				<p>Cantidad:    {{pedido.cantidad}}</p> 
				<p>Nombre del cliente:    {{pedido.clienteNombre}}</p> 
				<p ng-if="pedido.sucursalDir">Sucursal:     {{pedido.sucursalDir}}</p>
				<p ng-if="pedido.sucursalTel">Telefono:     {{pedido.sucursalTel}}</p>

				<br><br><br>

				<ul class="nav nav-tabs">
					<li  class="btn btn-success animated bounceInLeft" >
			         	<a ui-sref="persona.pedGrilla" style="color:yellow">
			         		 <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>
			         		 Volver 
			         	</a>
			        </li>
			    </ul>
		</form>
	</center>
</div>