
<br/>
	<div class="container">
	
		<div class="CajaInicio animated bounceInRight">
		<center>

			<form id="FormIngreso" name="FormLogin" style="background-image:url(img/marco.png);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;top: 50%;" novalidate>

				<center><h2 style="color:black">Login</h2></center><br><br>

				<input type="email" name="email" ng-model="dato.usuario" placeholder="Ingrese email" required />
				<span style="color:red" ng-show="FormLogin.email.$invalid">*</span> 

				<br><br>

				<input style="color:black" type="password" name="clave" ng-model="dato.clave" placeholder="Ingrese password"  required />
				<span style="color:red" ng-show="FormLogin.clave.$invalid">*</span>

      			<br><br>

				<input type="button" class="btn btn-danger" value="LOGIN" ng-disabled="FormLogin.$invalid" ng-click="Login()"/>

				<br>

				<span style="color:red" ng-show="FormLogin.$invalid">FALTAN DATOS!!</span>

				</center>
			</form>
				<br>
				<center>

		        <td><button class='btn btn-warning' name='administrador' ng-click="Administrador()"><span class='glyphicon glyphicon-user' style="width: 50px;"></span>Administrador</button></td>


		        <td><button class='btn btn-warning' name='encargado' ng-click="Encargado()"><span class='glyphicon glyphicon-user' style="width: 50px;"></span>Encargado</button></td>


		        <td><button class='btn btn-warning' name='empleado' ng-click="Empleado()"><span class='glyphicon glyphicon-user' style="width: 50px;"></span>Empleado</button></td>


		        <td><button class='btn btn-warning' name='cliente' ng-click="Cliente()"><span class='glyphicon glyphicon-user' style="width: 50px;"></span>Cliente</button></td>

		        </center>			
		</div>
	</div>

