

	<div class="container">
	
		<div class="CajaInicio animated bounceInRight" style="  position: absolute; top: 50%; left: 50%; height: 30%;width: 50%; margin: -15% 0 0 -25%;">
		<center>

			<form id="FormIngreso" name="FormLogin" style="background-image:url(img/marco.png);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;top: 50%;" novalidate>

				<center><h2 style="color:black">Login</h2></center><br><br>

				<input type="email" name="email" ng-model="dato.usuario" placeholder="Ingrese email" required />
				<span style="color:red" ng-show="FormLogin.email.$invalid">*</span> 

				<br><br>

				<input style="color:black" type="password" name="clave" ng-model="dato.clave" placeholder="Ingrese password"  required />
				<span style="color:red" ng-show="FormLogin.clave.$invalid">*</span>

      			<br><br>

				<input type="button" class="btn btn-danger" value="LOGIN" ng-disabled="FormLogin.$invalid" ng-click="Login()"/>

				<br>

				<span style="color:red" ng-show="FormLogin.$invalid">FALTAN DATOS!!</span>

			</form>
			</center>
		</div>
	</div>

