    <div class="page-header">
			<center><h1>Opciones</h1> </center>     
		</div>

        <div class="CajaInicio animated bounceInRight">
        	<form id="FormIngreso" style="background-image:url(img/minuta.jpg);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;">
         		
         			<br/><center>
                
                    <a style="color:white" ng-click="VentasLocal()"><h4>Ventas por local</h4></a>

                    <a style="color:white" ng-click="VentasProductos()"><h4>Productos mas vendido</h4></a>
                
            		<br/></center>
        </form>
      </div>

	